openapi: 3.2.0
info:
  title: Bluejay Therapeutics Content Empty Collections API
  version: '1.0'
  x-generated: '2026-08-07'
  x-method: derived
  x-source: https://bluejaytx.com/wp-json/
  description: The anonymously readable WordPress REST API behind bluejaytx.com, the corporate site of Bluejay Therapeutics — a Redwood City, California clinical-stage biopharmaceutical company developing brelovitug (BJT-778) and a hepatitis B/D portfolio, acquired by Mirum Pharmaceuticals on 26 January 2026.
  contact:
    name: API Evangelist
    email: kin@apievangelist.com
    url: https://apievangelist.com
  x-upstream-contract: https://developer.wordpress.org/rest-api/
servers:
- url: https://bluejaytx.com/wp-json
  description: Production WordPress REST API for bluejaytx.com (WP Engine, nginx)
tags:
- name: empty-collections
  description: Registered collections that answer 200 anonymously but currently hold no items.
paths:
  /wp/v2/comments:
    get:
      operationId: listComments
      tags:
      - empty-collections
      summary: List approved comments
      description: Registered and anonymously readable, but the site carries no comments — the collection returns an empty array with X-WP-Total 0.
      parameters:
      - $ref: '#/components/parameters/Context'
      - $ref: '#/components/parameters/Page'
      - $ref: '#/components/parameters/PerPage'
      - $ref: '#/components/parameters/Search'
      - name: post
        in: query
        description: Limit to comments on the given post ids.
        schema:
          type: array
          items:
            type: integer
      responses:
        '200':
          description: A page of comments (currently always empty).
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
  /wp/v2/portfolio:
    get:
      operationId: listPortfolio
      tags:
      - empty-collections
      summary: List portfolio items
      description: A theme-registered custom post type. Anonymously readable but empty — X-WP-Total 0.
      parameters:
      - $ref: '#/components/parameters/Context'
      - $ref: '#/components/parameters/Page'
      - $ref: '#/components/parameters/PerPage'
      - $ref: '#/components/parameters/Search'
      responses:
        '200':
          description: A page of portfolio items (currently always empty).
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
  /wp/v2/portfolio_category:
    get:
      operationId: listPortfolioCategories
      tags:
      - empty-collections
      summary: List portfolio categories
      description: Registered taxonomy with no terms — returns an empty array.
      parameters:
      - $ref: '#/components/parameters/Context'
      - $ref: '#/components/parameters/Page'
      - $ref: '#/components/parameters/PerPage'
      responses:
        '200':
          description: A page of portfolio category terms (currently always empty).
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
  /wp/v2/portfolio_tag:
    get:
      operationId: listPortfolioTags
      tags:
      - empty-collections
      summary: List portfolio tags
      description: Registered taxonomy with no terms — returns an empty array.
      parameters:
      - $ref: '#/components/parameters/Context'
      - $ref: '#/components/parameters/Page'
      - $ref: '#/components/parameters/PerPage'
      responses:
        '200':
          description: A page of portfolio tag terms (currently always empty).
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
  /wp/v2/blocks:
    get:
      operationId: listBlocks
      tags:
      - empty-collections
      summary: List reusable blocks
      description: Registered but empty — the site defines no reusable blocks.
      parameters:
      - $ref: '#/components/parameters/Context'
      - $ref: '#/components/parameters/Page'
      - $ref: '#/components/parameters/PerPage'
      responses:
        '200':
          description: A page of reusable blocks (currently always empty).
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
  /wp/v2/navigation:
    get:
      operationId: listNavigation
      tags:
      - empty-collections
      summary: List navigation menus
      description: The block-theme navigation post type. Registered and anonymously readable but empty; the classic `menus` and `menu-locations` collections both return 401.
      parameters:
      - $ref: '#/components/parameters/Context'
      - $ref: '#/components/parameters/Page'
      - $ref: '#/components/parameters/PerPage'
      responses:
        '200':
          description: A page of navigation menus (currently always empty).
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
components:
  parameters:
    Context:
      name: context
      in: query
      description: Scope under which the request is made; determines which fields are present in the response. `edit` requires authentication.
      schema:
        type: string
        enum:
        - view
        - embed
        - edit
        default: view
    Search:
      name: search
      in: query
      description: Limit results to those matching a string.
      schema:
        type: string
    PerPage:
      name: per_page
      in: query
      description: Maximum number of items to be returned in the result set.
      schema:
        type: integer
        default: 10
        minimum: 1
        maximum: 100
    Page:
      name: page
      in: query
      description: Current page of the collection.
      schema:
        type: integer
        default: 1
        minimum: 1
