openapi: 3.2.0
info:
  title: Bluejay Therapeutics Content Discovery API
  version: '1.0'
  x-generated: '2026-08-07'
  x-method: derived
  x-source: https://bluejaytx.com/wp-json/
  description: The anonymously readable WordPress REST API behind bluejaytx.com, the corporate site of Bluejay Therapeutics — a Redwood City, California clinical-stage biopharmaceutical company developing brelovitug (BJT-778) and a hepatitis B/D portfolio, acquired by Mirum Pharmaceuticals on 26 January 2026.
  contact:
    name: API Evangelist
    email: kin@apievangelist.com
    url: https://apievangelist.com
  x-upstream-contract: https://developer.wordpress.org/rest-api/
servers:
- url: https://bluejaytx.com/wp-json
  description: Production WordPress REST API for bluejaytx.com (WP Engine, nginx)
tags:
- name: Discovery
  description: Route index and namespace discovery documents.
paths:
  /:
    get:
      operationId: getRootIndex
      tags:
      - Discovery
      summary: Get the WordPress REST route index
      description: Returns the site's self-describing discovery document — name, description, home URL, gmt_offset, site icon, the list of registered namespaces, all 372 registered routes with their methods and argument schemas, and the supported authentication mechanisms.
      responses:
        '200':
          description: The route index.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RootIndex'
  /wp/v2:
    get:
      operationId: getNamespaceIndex
      tags:
      - Discovery
      summary: Get the wp/v2 namespace index
      description: Returns the routes and schemas registered under the wp/v2 namespace only.
      parameters:
      - $ref: '#/components/parameters/Context'
      responses:
        '200':
          description: The wp/v2 namespace index.
          content:
            application/json:
              schema:
                type: object
components:
  schemas:
    RootIndex:
      type: object
      properties:
        name:
          type: string
        description:
          type: string
        url:
          type: string
          format: uri
        home:
          type: string
          format: uri
        gmt_offset:
          type: number
        timezone_string:
          type: string
        site_icon_url:
          type: string
          format: uri
        namespaces:
          type: array
          items:
            type: string
        authentication:
          type: object
          description: Supported authentication mechanisms; this site advertises application-passwords.
        routes:
          type: object
          description: Map of route pattern to its methods, endpoints and argument schemas.
  parameters:
    Context:
      name: context
      in: query
      description: Scope under which the request is made; determines which fields are present in the response. `edit` requires authentication.
      schema:
        type: string
        enum:
        - view
        - embed
        - edit
        default: view
